<h1>Career</h1>

<div class="info-box uj-gradient slide-in-right">
  <div class="info-box-header">
    <div class="image-and-date">
      <img src="assets/images/UJ.png" alt="UJ logo" />
      <p>2024 - Present</p>
    </div>
    <div class="info-box-title">
      <h2>Full Stack Software Engineer - Urban Jungle</h2>
    </div>
  </div>
  <p>
    I'm currently working at UJ an exciting insurtech startup, working to bring
    fairness and transparency and ease of use to the insurance industry.<br /><br />
    I work in small, agile, cross-functional teams where I help plan new
    features, scope functionality with the key stakeholders and implement
    them!<br />
    I'm there from resourcing all the way up to code-review, final product
    testing, live feature monitoring and urgent fixes (not that we ever need any
    of those...)<br /><br />
    I'm working mostly with Python in the backend and tooling, and Angular for
    the frontend as well as dabbling in platform work with AWS, Kubernetes,
    Docker and Gitlab CI/CD.<br /><br />
    My favourite project has been working with the Data Science team to refactor
    and rebuild their ML pricing pipeline.<br />
    I helped optimise it from a multi-day process to a 2-hour process, with
    increased visibility, error handling, testing and ease of use with Dagster,
    MlFlow (brand new technologies for the company) and platform work.
  </p>
  <ul class="technologies-list">
    <li class="tech-bubble">Python</li>
    <li class="tech-bubble">Typescript</li>
    <li class="tech-bubble">SQL</li>
    <li class="tech-bubble">Dagster</li>
    <li class="tech-bubble">MlFlow</li>
    <li class="tech-bubble">AWS</li>
    <li class="tech-bubble">RabbitMQ</li>
  </ul>
  <button id="toggleButton" class="toggle-button">
    <span id="arrow" class="down">&#x25BC;</span>
  </button>
  <div id="pictureContainerUJ" class="collapsed">
    <img src="assets/images/UJ.png" alt="Image 1" />
  </div>
</div>

<div class="info-box skuuudle-gradient slide-in-right">
  <div class="info-box-header">
    <div class="image-and-date">
      <img src="assets/images/skuuudle.png" alt="Skuuudle logo" />
      <p>2023 - 2024</p>
    </div>
    <div class="info-box-title">
      <h2>Systems Programmer - Skuuudle</h2>
    </div>
  </div>
  <p>
    Refactored and optimised a legacy web scraping codebase, resulting in a 50%
    reduction in request volume, lowering operational costs and resource use.<br />
    Documented and improved code architecture to allow easy maintenance and
    ensure seamless developer transitions.<br />
    Managed delivery of up to 50 daily client reports, integrating client
    feedback within tight deadlines.<br />
    Designed, automated and implemented a product matching system leveraging NLP
    techniques on the company’s big data.
  </p>
  <ul class="technologies-list">
    <li class="tech-bubble">Python</li>
    <li class="tech-bubble">Scrapy</li>
    <li class="tech-bubble">AWS</li>
    <li class="tech-bubble">Web scraping</li>
    <li class="tech-bubble">NLP</li>
  </ul>
</div>
