<!-- <h1 class="text-[48px] text-[#e2e8f0] font-bold">Career</h1> -->
<a href="https://myurbanjungle.com/" target="_blank" rel="noopener noreferrer">
  <app-info-box
    gradientClass="green-gradient"
    imageSrc="assets/images/UJ.png"
    imageAlt="UJ logo"
    date="2024 – Present"
    title="Full Stack Software Engineer – Urban Jungle"
    [techStack]="['Python', 'Typescript', 'SQL', 'Dagster', 'MlFlow', 'AWS', 'RabbitMQ']"
  >
    <div class="space-y-4 text-[17px] text-slate-100 leading-relaxed tracking-tight">
      <p>
        I’m currently working at <strong class="font-semibold text-white">UJ</strong>, an exciting
        insurtech startup bringing fairness, transparency, and ease of use to the insurance
        industry.
      </p>

      <p>
        I work in small, agile teams where I help
        <strong class="font-semibold text-white">plan and implement new features</strong> across the
        full delivery cycle — from resourcing and code review to live monitoring and urgent fixes
        <span class="italic text-slate-400">(not that we ever need those...)</span>.
      </p>

      <p>
        My main focus is
        <strong class="font-semibold text-white">backend tooling with Python</strong> and
        <strong class="font-semibold text-white">frontend development with Angular</strong>. I also
        contribute to platform engineering with AWS, Kubernetes, Docker, and GitLab CI/CD.
      </p>

      <p>
        A recent highlight was collaborating with the Data Science team to
        <strong class="font-semibold text-white"
          >refactor and rebuild our ML pricing pipeline</strong
        >. I helped streamline it from a multi-day process to a two-hour workflow, improving
        visibility, error handling, testing, and ease of use using
        <strong class="font-semibold text-white">Dagster</strong> and
        <strong class="font-semibold text-white">MlFlow</strong> — two brand-new technologies for
        the company.
        <!-- <!-- </p> -->
      </p>
    </div>
  </app-info-box>
</a>

<a href="https://skuuudle.com/" target="_blank" rel="noopener noreferrer">
  <app-info-box
    gradientClass="green-gradient"
    imageSrc="assets/images/skuuudle.png"
    imageAlt="Skuuudle logo"
    date="2023 - 2024"
    title="Systems Programmer - Skuuudle"
    [techStack]="['Python', 'Scrapy', 'AWS', 'Web scraping', 'NLP']"
  >
    <p>
      Refactored and optimised a legacy web scraping codebase, resulting in a 50% reduction in
      request volume, lowering operational costs and resource use.
    </p>
    <p>
      Documented and improved code architecture to allow easy maintenance and ensure seamless
      developer transitions.
    </p>
    <p>
      Managed delivery of up to 50 daily client reports, integrating client feedback within tight
      deadlines.
    </p>
    <p>
      Designed, automated and implemented a product matching system leveraging NLP techniques on the
      company’s big data.
    </p>
  </app-info-box>
</a>
