<h1 class="text-[48px] text-[#e2e8f0] font-bold">Career</h1>

<app-info-box
  gradientClass="uj-gradient"
  imageSrc="assets/images/UJ.png"
  imageAlt="UJ logo"
  date="2024 - Present"
  title="Full Stack Software Engineer - Urban Jungle"
  [techStack]="['Python', 'Typescript', 'SQL', 'Dagster', 'MlFlow', 'AWS', 'RabbitMQ']"
>
  <p>
    I'm currently working at UJ an exciting insurtech startup, working to bring fairness and
    transparency and ease of use to the insurance industry.<br /><br />
    I work in small, agile, cross-functional teams where I help plan new features, scope
    functionality with the key stakeholders and implement them!<br />
    I'm there from resourcing all the way up to code-review, final product testing, live feature
    monitoring and urgent fixes (not that we ever need any of those...)<br /><br />
    I'm working mostly with Python in the backend and tooling, and Angular for the frontend as well
    as dabbling in platform work with AWS, Kubernetes, Docker and Gitlab CI/CD.<br /><br />
    My favourite project has been working with the Data Science team to refactor and rebuild their
    ML pricing pipeline.<br />
    I helped optimise it from a multi-day process to a 2-hour process, with increased visibility,
    error handling, testing and ease of use with Dagster, MlFlow (brand new technologies for the
    company) and platform work.
  </p>
</app-info-box>

<app-info-box
  gradientClass="skuuudle-gradient"
  imageSrc="assets/images/skuuudle.png"
  imageAlt="Skuuudle logo"
  date="2023 - 2024"
  title="Systems Programmer - Skuuudle"
  [techStack]="['Python', 'Scrapy', 'AWS', 'Web scraping', 'NLP']"
>
  <p>
    Refactored and optimised a legacy web scraping codebase, resulting in a 50% reduction in request
    volume, lowering operational costs and resource use.<br />
    Documented and improved code architecture to allow easy maintenance and ensure seamless
    developer transitions.<br />
    Managed delivery of up to 50 daily client reports, integrating client feedback within tight
    deadlines.<br />
    Designed, automated and implemented a product matching system leveraging NLP techniques on the
    company’s big data.
  </p>
</app-info-box>
