<h1>Education</h1>

<div class="info-box uofm-gradient slide-in-right">
  <div class="info-box-header">
    <div class="image-and-date">
      <img src="assets/images/UofM.png" alt="UofM logo" />
      <p>2020 - 2023</p>
    </div>
    <div class="info-box-title">
      <h2>Computer Science First Class (Hons) - University Of Manchester</h2>
    </div>
  </div>
</div>

<div class="info-box reading-gradient slide-in-right">
  <div class="info-box-header">
    <div class="image-and-date">
      <img src="assets/images/reading.jpeg" alt="Reading School logo" />
      <p>2017 - 2019</p>
    </div>
    <div class="info-box-title">
      <h2>Reading School</h2>
      <p>
        Mathematics (A*), Further Mathematics (A), Physics (A), Computer Science
        (A)
      </p>
    </div>
  </div>
</div>

<div class="info-box phs-gradient slide-in-right">
  <div class="info-box-header">
    <div class="image-and-date">
      <img src="assets/images/PHS.png" alt="Park House School logo" />
      <p>2012 - 2017</p>
    </div>
    <div class="info-box-title">
      <h2>Park House School</h2>
      <p>11 A*s, Grade 9 Mathematics, Grade 9 English Lit</p>
    </div>
  </div>
</div>
