<app-mouse-glow></app-mouse-glow>
<app-postit>
  <div class="flex items-center justify-center w-full h-full">
    <p
      class="text-[50px] font-bold text-[#1e152a] leading-none"
      style="font-family: 'Poppins', sans-serif"
    >
      J H
    </p>
  </div>
</app-postit>
<div class="px-12 flex flex-col h-fit md:flex-row md:min-h-screen">
  <div class="flex-1 pl-12 h-fit">
    <!-- <app-leftside /> -->
  </div>

  <div class="flex-[2] h-fit">
    <!-- <app-profile /> -->
    <app-experience />
  </div>
</div>
