<div class="absolute inset-0 z-0 pointer-events-none"
     style="background-image: url('assets/images/desk_texture.png'); 
            background-size: cover; 
            background-blend-mode: overlay; 
            opacity: 0.1;">
</div>
<div class="relative z-10 w-full min-h-screen bg-dark-green>">
 <div class="w-full h-auto ">

    <h1 class="text-center text-blue-black font-hand text-[100px] tracking-[0.2em]">
      Jack Hygate
    </h1>
    <h2 class="text-center -translate-x-[120px] -translate-y-[50px] text-white font-hand text-[30px] tracking-[0.2em]">
      Full Stack Engineer
    </h2>
  </div>


  <app-postit>
    <div class="flex items-center justify-center w-full h-full">
      <p class="text-[70px] font-hand font-bold text-blue-black leading-none">J H</p>
    </div>
  </app-postit>

  <app-postit  [size]="'w-64 h-64'"
  [bgColor]="'bg-light-blue'"
  [top]="'400px'"
  [left]="'150px'"
  [rotation]="'rotate-[-12deg]'">
    <div class="flex justify-center  w-full h-full">
    </div>
  </app-postit>

    <app-postit  [size]="'w-64 h-64'"
  [bgColor]="'bg-light-blue'"
  [top]="'300px'"
  [left]="'250px'"
  [rotation]="'rotate-12'">
    <div class="flex justify-center  w-full h-full">
    </div>
  </app-postit>

    <app-postit  [size]="'w-64 h-64'"
  [bgColor]="'bg-light-blue'"
  [top]="'200px'"
  [left]="'200px'"
  [rotation]="'rotate-[-6deg]'">
    <div class="flex justify-center  w-full h-full">
      <p class="underline font-hand font-bold leading-none text-[70px] text-blue-black" >
        about me
      </p>
    </div>
  </app-postit>


 



</div>
