<div
  class="rounded-[25px] p-6 w-full mt-8 flex flex-col {{
    gradientClass
  }} slide-in-right shadow-[0_10px_25px_-5px_rgba(0,0,0,0.5),_0_4px_6px_-4px_rgba(0,0,0,0.4)] ring-1 ring-white/10"
>
  <div class="flex flex-row gap-4 items-center">
    <!-- Logo column -->
    <div class="w-[90px] flex flex-col items-center justify-center">
      <img [src]="imageSrc" [alt]="imageAlt" class="w-[60px] h-[60px] object-contain" />
    </div>

    <!-- Title and date -->
    <div class="flex-1">
      <h2 class="text-xl text-[#e2e8f0] font-semibold leading-tight">
        {{ title }}
      </h2>
      <p class="text-sm text-slate-300 mt-1 font-medium">
        {{ date }}
      </p>
    </div>
  </div>

  <!-- Slot content -->
  <div class="mx-auto mt-6 space-y-4 text-[17px] text-slate-100 leading-relaxed tracking-tight">
    <ng-content></ng-content>
  </div>

  <!-- Tech stack -->
  <div *ngIf="techStack" class="flex flex-wrap mt-4 justify-start">
    <app-tech-bubble *ngFor="let tech of techStack" [tech]="tech"></app-tech-bubble>
  </div>
</div>
