<p class="text-[#94a3b8] ml-[50px] mr-[50px]">
  <b>Hi, I'm Jack</b><br /><br />
  I've been writing code all my life. My first computer was a
  <b>Raspberry Pi</b> hooked up to my Dad's old CRT TV. Ever since I made an LED blink I've been in
  love with the creative power of technology. I'm at the start of my career and I am just so
  excited! I'm here to build something beautiful, something that helps people and to work out what I
  mean by that.<br /><br />

  Right now I'm a <b>Full Stack Engineer at Urban Jungle</b>, I'm learning a solid foundation in
  software engineering principles in action, working with a super smart team and learning some cool
  tech.<br /><br />

  I've got a <b>First-Class BSc (Hons)</b> in Computer Science from the
  <b>University of Manchester</b>. I've worked in a broad range of fields like web scraping, NLP and
  real-time computer vision applications. I work confidently in
  <b>Python, Linux, TypeScript, SQL</b>, scalable software architecture and I fully believe that any
  technology can be unlocked by a few weeks of dedicated study.<br /><br />
  In my spare time I'm exploring London (I'm new here!), prepping for my next dinner party, filling
  up my bookshelf or in a random pub; quizzing or gigging!
</p>
