<p class="text-white ] mr-[50px]">
  <br /><br />
  <b>Hi, I'm Jack</b><br /><br />
  <b>Full Stack Engineer at Urban Jungle</b> <br /><br />

  <b>First-Class BSc (Hons)</b> in Computer Science from the
  <b>University of Manchester</b> <br /><br />
  My first computer was a
  <b>RPi</b> hooked up to a CRT TV. Ever since I made an LED blink I've been in
  love with the creative power of technology.<br /><br />

  I work confidently in
  <b>Python, TypeScript, Angular, SQL</b>, and I believe that any
  technology can be unlocked by a few weeks of dedicated study.<br /><br />
</p>
