/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

b {
  color: #5ab1bb;
}

h1 {
  color: rgb(226 232 240);
}

/* p {
  color: white;
} */

.green-gradient {
  background: linear-gradient(to bottom, rgba(165, 200, 130, 0.25), rgba(78, 103, 102, 0.25));
}

.uj-gradient {
  background: linear-gradient(to left, rgba(255, 100, 20, 0.25), rgba(1, 62, 213, 0.25));
}

.skuuudle-gradient {
  background: linear-gradient(to left, rgba(180, 179, 179, 0.25), rgba(98, 20, 161, 0.25));
}

.uofm-gradient {
  background: linear-gradient(to left, rgba(98, 20, 161, 0.25), rgba(255, 217, 0, 0.25));
}

.reading-gradient {
  background: linear-gradient(to left, rgba(238, 243, 249, 0.25), rgba(29, 47, 83, 0.25));
}

.phs-gradient {
  background: linear-gradient(to left, rgba(27, 28, 91, 0.25), rgba(238, 243, 249, 0.25));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
